body {
    margin: 0%;
    padding: 0%;
}

.parent-body {
    width: 98%;
    display: flex;
    border: 1px solid red;

}


.side-nav {
    width: 15%;
    border: 1px solid black;
    height: 700px;
    position: fixed;
    padding: 20px;
    background: #f6f7f8;
}

.nav-sub {
    display: flex;
    color: blue;
    background: #c5d3e1;
    font-size: 20px;
    height: 30px;

}

.side-nav .nav-sub p i {
    color: blue;
    margin-right: 25px;
    font-size: 22px;
    margin-left: 5px;
}

.side-nav .nav-sub p {
    font-size: 18px;
    color: blue;
    margin-top: -1px;
    /* margin-bottom: -0.1px; */
}

.nav_img {
    display: flex;
}

.nav_img button {
    width: 40px;
    height: 40px;
}

.nav_img img {
    margin-left: 20px;
    width: 60%;
    height: 50px;
    margin-bottom: 25px;
}

.nav-div {
    display: flex;
    width: 100%;
    height: 25px;
    margin: auto;
    border: 0px solid red;
    padding: 4px;
}

.nav-div:hover {
    background: #8a9cac;
}

.side-nav .nav-div p i {
    color: #b4b9bd;
    margin-right: 25px;
    /* font-size: 20px; */
    /* margin-bottom: -5%; */
    /* margin-top: -1%; */
    margin-left: 15px;
}

.side-nav .nav-div p {
    font-size: 18px;
    color: #4a5056;
    margin-top: -3px;
    /* margin-bottom: -5px; */
}

.side-nav hr {
    border: 0.1px solid gray;
    margin-bottom: 10%;
    margin-top: -10px;


}

.nav-h {
    margin-bottom: 8%;
}


.right-body {
    margin-left: 17%;
    width: 85%;
    height: auto;
    border: 0px solid red;

}

#plan-heading {
    margin: auto;
    width: 95%;
    color: rgb(62, 58, 58);
    font-weight: 300;

}

#plan_page_parent {
    margin: auto;
    border: 0px solid black;
    width: 95%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    /* margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px; */

}

#plan_page_top {
    width: 93%;
    padding: 2%;
    border: 0px solid red;
    height: 10%;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

#Plan_page_bottom {
    width: 92%;
    padding: 2%;
    border: 0px solid blue;
    display: flex;
    height: 72%;
    margin: 10px;
    gap: 15px;
}

#size {
    display: flex;
    font-size: 16px;
    font-weight: 200;
    border: 0px solid red;

}

#size #team_heading {
    /* margin-bottom: 30px; */
    font-weight: 300;

}


#team_number {
    margin: 10px;
    width: 60px;
    height: 25px;
    margin-bottom: 5px;
}

#buttons {
    display: flex;
    width: 40%;
    border: 0px solid red;

}

#buttons button {
    margin-top: 15px;
    height: 30px;
    width: 90px;


}

#buttons>button:nth-child(1) {
    border-radius: 5px 0px 0px 5px;
    border: 1px solid gray;
}

#buttons>button:nth-child(2) {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid gray;
}

#buttons #F_m {
    margin-left: 5px;
    width: 120px;
    background: #17c22e;
    border: 0px solid gray;
    color: white;
    font-weight: 600;
    border-radius: 10px;
}

#business {
    width: 32%;
    height: 100%;
    border: 3px solid blue;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
}

#professional {
    width: 32%;
    height: 100%;
    border: 0px solid black;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.price {
    font-size: 20px;
    color: #3070f0;
}

.price_pro {
    font-size: 20px;

}

.price_pro strong {
    font-size: 45px;

}

.price strong {
    font-size: 45px;
}

#business>h1 {
    color: #3070f0;

}

.price_btn {
    width: 95%;
    height: 40px;
    text-align: center;
    background: #3070f0;
    color: white;
    border: 0px solid gray;
    /* margin: 20px; */
    border-radius: 10px;
}

.price_btn_pro {
    width: 95%;
    height: 40px;
    text-align: center;
    color: blue;
    border: 0px solid gray;
    /* margin: 20px; */
    border-radius: 10px;

}

hr {
    border: 0.1px solid gray;
    width: 95%;
    margin-top: 25px;
}

p i {
    color: green;
}

#Plan_page_bottom .icon_dis i {
    color: black;
}

#free {
    width: 32%;
    height: 100%;
    border: 0px solid black;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}