body {
    margin: 0px;
    padding: 0px;
    font-family: 'Google Sans', sans-serif;
}

#navbar {
    width: 100%;
    height: 70px;
    border: 0px solid red;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#nav-logo {
    width: 15%;
    height: 90%;
    border: 0px solid red;
    margin-left: 50px;
    margin-top: 5px;
    display: flex;
}

#logo {
    width: 80%;
    height: 100%;
}

#logo img {
    width: 80%;
    height: 90%;
}

#btn-Language {
    width: 30%;
    height: 90%;
}

#btn-Language button {
    width: 65%;
    height: 65%;
    margin-top: 15px;
    margin-left: 20px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    transform: .3s;
}

#btn-Language button:hover {
    background: #41338f;
    color: white;
    border: 1px solid #41338f;
}

#mid-nav {
    width: 45%;
    height: 80%;
    border: 0px solid red;
    margin-top: 5px;
    /* display: flex; */
}

#right-nav {
    width: 15%;
    height: 80%;
    margin-top: 5px;
    border: 0px solid red;
    margin-right: 50px;
    display: flex;
    justify-content: space-around;
}


#right-nav p a {
    font-size: 20px;
    text-decoration: none;
    color: black;

}

#right-nav p a:hover {
    text-decoration: none;
    color: blue;
    font-weight: 450;
}

#right-nav button {
    border: 1px solid blue;
    color: blue;
    font-size: 16px;
    height: 35px;
    background: white;
    margin-top: 12px;
    font-weight: 600;
    border-radius: 5px;
    transition: .3s;
}

#right-nav button a {
    text-decoration: none;
    color: blue;
    font-weight: 450;
}

#right-nav button:hover {
    background: blue;
    color: white;

    /* transform: scale(1.03); */
    cursor: pointer;
}

#mid-nav ul {
    padding: 0px;
    margin: 0px;
    float: right;
    margin-right: 20px;
}

#mid-nav ul li {
    /* background: lightblue;ś */
    position: relative;
    list-style: none;
    display: inline-block;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
}

#mid-nav ul li:hover {
    color: rgb(53, 53, 223);
}

#mid-nav ul li a {
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
    transition: transform .2s;
}

#mid-nav ul li a:hover {
    background: #f1f3f4;
    /* color: blue; */
    transform: scale(1.03);
}

#mid-nav ul ul {
    position: absolute;
    top: 60px;
    display: none;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;ś */
}

#mid-nav ul li:hover>ul {
    display: block;

}

#mid-nav ul ul li {
    width: 140px;
    float: none;
    display: list-item;
    position: relative;
    line-height: 20px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

#mid-nav ul ul li li {
    width: 160px;
}

#mid-nav ul ul ul li {
    position: relative;
    top: -30px;
    left: 140px;
    line-height: 20px;
}

/* //nav style finish here */

#head1 {
    width: 100%;
    height: 150vh;
    text-align: center;
    background-color: #41338f;
    color: #ebedf0;
    border: 0px solid red;
    padding-top: 70px;
}

#subm {
    border: 0px solid white;
    width: 60%;
    margin: auto;
    border: 0px solid red;
}

#subm>h1 {
    margin-top: 100px;
    word-spacing: 10px;
    font-size: 64px;
    font-weight: 700;
}

#subm>p {
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}

#head2 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.card {
    margin-left: 40px;
    border: 1px solid lightgray;
    width: 430px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    line-height: 30px;

}

.card:hover {
    /* background-color: blue; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.sub_c1 {
    width: 100%;
    height: auto;
    align-items: center;
}

.sub_card {
    /* border: 1px solid saddlebrown; */
    margin: 5px;
    width: 85%;
    margin: auto;
    text-align: center;

}

.sub_card>h3 {
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
}

.sub_card>p {
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 400;
}

.sub_c1>img {
    width: 100%;
    height: auto;
}

.sub_c1>p {
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    height: 30px;
    /* border: 1px solid salmon; */
    padding-bottom: 20px;
}

.sub_c1>p:hover {
    cursor: pointer;
    color: white;
    background-color: #3070F0;
    border-radius: 0px 0px 10px 10px;
}

.sub_c1>p>span {
    margin: 10px;
    color: white;

}

#head3 {
    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 30px;
    background-color: #F6F7F8;
    margin-top: 20px;
    line-height: 25px;
    color: rgb(94, 91, 91);
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 20px;
}

#head3>p {
    margin: 20px;
    font-size: 18px;
}

#head3>img {
    /* border: 1px solid brown; */
    margin: 5px 20px;
}

/* //bottom section */
.bottom {
    width: 99.8%;
    height: 445px;
    border: 0px solid red;
    background: #ebedf0;
    margin: auto;
    /* margin-top: 20px; */
}

.bottom_1 {
    width: 90%;
    height: 85%;
    margin: auto;
    border: 0px solid red;
    display: flex;

}

.bottom_1 div {
    width: 14%;
    height: 80%;
    padding: 10px;
    border: 0px solid red;
    margin: auto;
}

.bottom_1>div:nth-child(4) {
    width: 22%;
}

.bottom_1>div:nth-child(4) h3 {
    margin-left: 10%;
}

.bottom_1>div:nth-child(5) h3 {
    margin-left: 10%;
}

#img_div {
    width: 90%;
    height: 70px;
    border: 0px solid red;
}

#img_div img {
    width: 100%;
    height: 100%;
}



.bottom_2 {
    width: 99.9%;
    height: 14%;
    border: 0px solid black;
    margin: auto;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.bottom_div .b_heading {
    width: 90%;
    margin: auto;
    height: 10%;
    border: 0px solid red;
    font-size: 16px;
    color: #4f5051;


}

.bottom_div .icon {
    width: 90%;
    margin: auto;
    height: 75%;
    border: 0px solid red;
    display: flex;
    color: #4f5051;
}

.bottom_div .icon .icons {
    width: 10%;
    height: 90%;
    border: 0px solid red;
    font-size: 17px;
    cursor: pointer;

}

.bottom_div .icon .icons i {
    margin-bottom: 15px;
    cursor: pointer;
}

.bottom_div .icon .icon_heading {
    width: 80%;
    height: 90%;
    border: 0px solid red;
    font-size: 16px;

}

.bottom_div .icon .icon_heading p {
    margin-top: -2px;
    cursor: pointer;
    font-size: 18px;
}

.bottom_2 div {
    width: 20%;
    height: 80%;
    border: 0px solid red;

}

.bottom_2>div:nth-child(1) {
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}

.bottom_2>div:nth-child(2) i {

    text-align: center;
    justify-content: space-around;
    font-size: 22px;
    margin: auto;
    margin-top: 15px;
}

.bottom_2 button {
    margin-top: 16px;
    width: 45%;
    height: 30px;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;

}

.bottom_2 button i {
    margin-right: 5px;
}