*{
    margin: 0;
    padding: 0;
}
#head1{
    width: 100%;
    height: 140vh;
    text-align: center;
    background-color: #FFEBE8;
}
#subm{
    border: 1px solid white;
    width: 60%;
    margin: auto;
}
#subm > h1{
    margin-top: 100px;
    word-spacing: 10px;
    font-size: 64px;
    font-weight: 700;
}
#subm > p{
    font-size: 22px;
    font-weight: 600;
    margin-top: 30px;
}
#head2{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content:space-evenly;
    align-items: center;
    gap: 30px;
}
.card{
    margin-left: 40px;
    border: 1px solid lightgray;
    width: 430px;
    height: auto;
    text-align: center;
    border-radius: 10px;
}
.card:hover{
    /* background-color: blue; */
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.sub_c1{
    width: 100%;
    height: auto;
    align-items: center;
}
.sub_card{
    /* border: 1px solid saddlebrown; */
    margin: 5px;
    width: 85%;
    margin: auto;
    text-align: center;

}
.sub_card > h3{
    margin-top: 10px;
    font-size: 26px;
    font-weight: 600;
}
.sub_card > p{
    margin: 15px 0px;
    font-size: 18px;
    font-weight: 400;
}
.sub_c1 > img{
    width: 100%;
    height: auto;
}
.sub_c1 > p{
    margin-top: 10px;
    padding-left: 10px;
    font-size: 18px;
    height: 30px;
    /* border: 1px solid salmon; */
    padding-bottom: 20px;
}
.sub_c1 > p:hover{
    cursor: pointer;
    color: white;
    background-color: #3070F0;
    border-radius: 0px 0px 10px 10px;
}

.sub_c1 > p >span{
    margin: 10px;
    color: white;

}
#head3{
    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 30px;
    background-color: 
    #F6F7F8;
}
#head3 > p{
    margin: 20px;
    font-size: 18px;
}
#head3 >img{
/* border: 1px solid brown; */
margin:  5px 20px;
}